html, body {
    background: #000;
}
body {
    font: 13px "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.page {
    width: 720px;
    margin: 0 auto;
    padding: 20px 0 800px;
}
.page h1 { 
    font-size: 27px;
    margin: 0 3px 17px; 
    padding: 0;
    color: #fff;
}
.ui-tabs {
    height: auto !important;
    height: 320px;
    min-height: 320px;
}
.para{
	 margin: auto;
    width: 80%;
    border: 3px solid #000000;
    padding: 10px;
   
}
.pa{
	
	
	 margin: auto;
    width: 60%;
    border: 3px solid #000000;
    padding: 10px;
    text-align: center;
}

.etp
	{	font-size: 15px;
		 height: auto !important;
    	height: 320px;
   		width: 80%;
   		min-height: 320px;
	
	}
	.rich-tab-inactive:hover {
    color: blue;
    }
     .rich-tabpanel-content {
        border-width: 10px 10px 10px 10px;
        background-color: #FFFF;
    }
    .tab
    {
    
	margin: auto;
    width: 70%;
    border: 3px solid #73AD21;
    padding: 5px;
    
    }
    .he
    {
     color: blue;
     background-color: #FFFF;
     font-size: 20px;
    }
    .tit
    {
    font-size: 30px;
    font-style:gras;
    border-bottom:10px solid green;
    font-weight: bold;
    	
    }
      .titS
    {
    font-size: 16px;
    
    font-style: oblique;
    
    	
    }
    .panelG
    {
    
     background-color: #FFFFF!important;
   		align:"center";
    
    }
    .but
    {
    	text-align:center;
    }
    .pane
    {	
    font-size: 10px;
    
    font-style: oblique;
    
    }
    .truc-a-centrer {
  position: absolute; /* postulat de départ */
  top: 50%; left: 50%; /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}
}
